<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="upload-form" action="{{ url_for('upload') }}" id="upload-form" method="POST" enctype="multipart/form-data">
        <div class="login card">
            <pre>
                <h1>Upload image to classify flower</h1>
                <strong>Choose image:</strong>
                <input type="file" class="btn btn-primary btn-block btn-large"
                name='file' accept="image/*" multiple>
                <input type="submit" value="Predict!">
            </pre>
        </div>
    </form>
</body>
</html>